{% extends 'JLibrary:templates/layout:basic.html.twig' %}

{% block main_content %}
    {% embed 'JLibrary:templates/layout:crud-action.html.twig' %}
        {% block crud_form_controls %}
            <div class="flex">
                <div class="basis50">{% include 'JLibrary:templates/form_fields:general.html.twig' with {field: form.title} %}</div>
                <div class="basis50">{% include 'JLibrary:templates/form_fields:general.html.twig' with {field: form.machineName} %}</div>
            </div>
        {% endblock %}

        {% block crud_cancel_path %}{{ path('j29.category.###.index') }}{% endblock %}
    {% endembed %}
{% endblock %}