{% set class = (label_class ?? false) ? 'sublabel ' ~ label_class : 'sublabel' %}

<div class="js-wrapper-show-hide">
    <a href="#" class="js-trigger-show-hide"><span>+</span></a>
    <div class="js-toggle-show-hide">
        <p class="{{ class }}">To find the coordinates for an address, <a href="https://www.maps.ie/coordinates.html">follow the instructions located here</a>. Simply place the 2 coordinate values in this box, separated with a comma, and latitude being first. For example: <span class="example">37.69459750234007, -97.42611188808593</span></p>
    </div>
</div>