{% set class = (label_class ?? false) ? 'sublabel ' ~ label_class : 'sublabel' %}

<p class="{{ class }}">This takes an rgba value. For example: <span class="example">rgba(22, 39, 209, 0.4)</span>. <a href="http://www.hexcolortool.com/">A tool for picking this color can be found here</a>.</p>