{% set class = (label_class ?? false) ? 'sublabel ' ~ label_class : 'sublabel' %}

<div class="js-wrapper-show-hide">
    <a href="#" class="js-trigger-show-hide"><span>+</span></a>
    <div class="js-toggle-show-hide">
        <p class="{{ class }}">Just like the page title field, <strong>this field is extremely important!</strong> The value of this field is used in search engine ranking <em>(SEO)</em> and helping people find your site. It should be 160 characters or less.</p>
    </div>
</div>