{% set class = (label_class ?? false) ? 'sublabel ' ~ label_class : 'sublabel' %}


<div class="sublabel-container">
    <a href="#" class="js-expand-sublabel"><span class="plus">+</span></a>
    <p class="{{ class }}"><strong>This field is extremely important!</strong> A search engine will look at the value of this field and use it in ranking this website/webpage. Keywords in this field should be the keywords you want people to search for when trying to find this website/webpage with a search engine.</p>
</div>