{% set class = (label_class ?? false) ? 'sublabel ' ~ label_class : 'sublabel' %}

<div class="sublabel-container">
    <a href="#" class="js-expand-sublabel"><span class="plus">+</span></a>
    <p class="{{ class }}">Format for the number: <span class="example">(###) ###-####</span></p>
</div>