{% set class = (label_class ?? false) ? 'sublabel ' ~ label_class : 'sublabel' %}

<div class="sublabel-container">
    <a href="#" class="js-expand-sublabel"><span class="plus">+</span></a>
    <p class="{{ class }}">It is important to properly discern the right type of image to use. If the image is going to be used as a page banner, then images that are landscape (more long than short) work better. When a field asks for a mobile image, then the image should be portrait (more tall than long) in dimensions. If the image is meant as a profile picture for a person, it usually is meant to be square.<br><br>Also, keep in mind that images need to be large enough in actual size so that they aren't "stretched" beyond their actual dimensions and appear blurry/pixelated. At the same time, image files need to be small in size. <strong>This allows them to be downloaded quickly and keeps your viewers from using too much cellular data if they are on a mobile device outside of a wifi zone.</strong></p>
</div>