{% set class = (label_class ?? false) ? 'sublabel ' ~ label_class : 'sublabel' %}

<div class="js-wrapper-show-hide">
    <a href="#" class="js-trigger-show-hide"><span>+</span></a>
    <div class="js-toggle-show-hide">
        <p class="{{ class }}">Checking this box labels an element as 'published', which means that it will appear on the site. If you wish to hide an element (perhaps because it is not ready to be visible on the site), simply leave this box unchecked.</p>
    </div>
</div>