{% extends 'JLibrary:templates/layout:basic.html.twig' %}

{% block main_content %}
    <div class="page-homepage main-content">
        <article>Hello World - Homepage</article>
    </div>
{% endblock %}