<div class="admin page-crud-action main-content">
    <h1 class="page-title">{{ page_title }}</h1>
    
    <div class="container">
        {# FLASHBAGS #}
        {% include 'JLibrary:templates/flashbags:flashbags.html.twig' %}
        
        {# New/Edit Form #}
        {{ form_start(form, {'attr': {'class': 'form-action ' ~ form_size}}) }}
            <div class="form-global-errors-container">
                {{ form_errors(form) }}
            </div>
            <div class="form-controls">
                {% block crud_form_controls %}{% endblock %}
            </div>
            <div class="form-submission-controls">
                <button type="submit" name="save" class="form-control btn btn-success" formnovalidate>save</button>
                <a href="{% block crud_cancel_path %}{% endblock %}" class="btn btn-default form-control">cancel</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>