<div class="cms-element">
    <h3 class="section-heading column basis30">{{ heading }}</h3>
    <p class="section-subheading column basis40">{{ description }}</p>
    <div class="actions-container column basis30">
        <a href="{{ path(path_list) }}" class="btn btn-success">list all</a>
        {% if (path_new ?? false) %}
            <a href="{{ path(path_new) }}" class="quick-add btn btn-default">create new</a>
        {% endif %}
    </div>
</div>