<div class="flashbags-container">
    {# 'Danger' message #}
    {% if app.session.flashBag.has('danger') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('danger') %}{{ msg|raw }}{% endfor %}
        </div>
    {% endif %}

    {# 'Warning' message #}
    {% if app.session.flashBag.has('warning') %}
        <div class="alert alert-warning">
            {% for msg in app.session.flashBag.get('warning') %}{{ msg|raw }}{% endfor %}
        </div>
    {% endif %}

    {# 'Success' message #}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}{{ msg|raw }}{% endfor %}
        </div>
    {% endif %}
</div>