{# Prototype: General Text Field #}
{% macro cpText(item) %}
{# <li class="dynamic-insert">
    <a class="close js-collection-item-delete"><i class="fa fa-times-circle icon" aria-hidden="true"></i></a>
    <div class="form-controls-box">
        <div class="form-row">
            <div class="field-error-container">{{ form_errors(item) }}</div>
            {{ form_widget(item) }}
        </div>
    </div>
</li> #}
<li class="dynamic-insert"><a class="close js-collection-item-delete"><i class="fa fa-times-circle icon" aria-hidden="true"></i></a><div class="form-controls-box"><div class="form-row"><div class="field-error-container">{{ form_errors(item) }}</div>{{ form_widget(item) }}</div></div></li>
{% endmacro %}