{% if (sublabel_file ?? false) %}
    {% include 'JLibrary:templates/form_sublabels:' ~ sublabel_file ~ '.html.twig' with {label_class: sublabel_class_present} %}
{% endif %}

{% if (custom_sublabel ?? false) %}
    <p class="{{ (custom_sublabel_class ?? false) ? 'sublabel ' ~ custom_sublabel_class : 'sublabel' }}">{{ custom_sublabel }}</p>
{% endif %}