<div class="error-message-container">
    <img class="logo" src="{{ asset('images/j29-logo.svg') }}" width="100">
    <h2 class="title">Resource Not Found</h2>
    <p class="subtitle">It appears that the item or page you're looking for cannont be found. Call the site's web administrator if the problem continues.</p>
    <a href="{{ path('j29.www.index') }}" class="btn btn-default">return home</a>
</div>