<div class="error-message-container">
    <img class="logo" src="{{ asset('images/j29-logo.svg') }}" width="100">
    <h2 class="title">Access Denied</h2>
    <p class="subtitle">The resource or page you are trying to view is not accessible at this time. Call the site's web administrator if you feel you've reached this page in error.</p>
    <a href="{{ path('j29.www.index') }}" class="btn btn-default">return home</a>
</div>